
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family: monospace;
}

button {
    background-color: #4CAF50; /* Green */
    border-color: #2f6931;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

td 
{
    height: 50px; 
    width: 50px;
    text-align: center;
}

#cssTable td 
{
    text-align: center; 
    vertical-align: middle;
}

img{
    height: 200px;
    width: 200px;
    
}