@font-face { font-family: TFFont; src: url('tf2build.ttf'); } 
@keyframes rotatatey{
  0% {
    transform: rotate(-50deg);
  }
  50%{
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}
@keyframes popout{
  0% {
    opacity: 0%;
    pointer-events: none;
    transform: rotate(200deg);
    width: 1%;
    left: 50%;
    top: 50%;
  }
  99% {
    pointer-events: none;
  }
  100% {
    opacity: 100%;
    pointer-events: all;
  }
}

html, body {
    height: 100%;
    font-family: monospace;
    background: rgb(110,151,249);
    background: radial-gradient(circle, rgba(110,151,249,1) 0%, rgba(83,127,231,1) 50%, rgba(35,77,176,1) 100%);
}
html {
    display: table;
    margin: auto;
    color: #181823;
}
body {
  place-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
}
.wrapperindx{
  place-items: center;
  width:80vw;
  height: 80vh;
  }
.wrapperindx img{
  width: 20%;
  position: absolute;
  transition: 500ms;
  }
.one:hover{
  top: 0%;
  left: 7.5%;
  width: 25%;
  position: absolute;
  transition: 500ms;
  }
.two:hover{
  width: 25%;
  top: 0%;
  left: 67.5%;

  }
.three:hover{
  width: 25%;
  left: 7.5%;
  top: 50%;

  }
.one{
  transform: rotate(30deg);
  animation: 1s ease-in-out 0s 1 popout;
  transition: 500ms;
  top: 5%;
  left: 10%;
  }
.two{
  transform: rotate(-30deg);
  animation: 1s ease-in-out 0s 1 popout;
  top: 5%;
  left: 70%;

  }
.three{
  transform: rotate(30deg);
  animation: 1s ease-in-out 0s 1 popout;
  left: 10%;
  top: 55%;

  }
.four{
  transform: rotate(30deg);
  animation: 1s ease-in-out 0s 1 popout;
  left: 70%;
  top: 55%;

  }
.four:hover{
  width: 25%;
  left: 67.5%;
  top: 50%;

  }  
.logo{
  animation: rotatatey 6s ease-in-out infinite;
  position: absolute;
  transform: rotate(-45deg);
  position: absolute;
  width: 50vw;
  transform: translate(-50%, -50%);


}
h1 {
    font-size: 100px;
    text-align: center;
    font-family: monospace;
}

footer {
    text-align: center;
    background-color: #DED369;
    color: #192F01;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 50px;
    border-color: #192F01;
    border-style: dashed solid;
    border-width: 5px;
  }
a {
    text-align: center;
    font-size: 25px;
    color: #E9F8F9;
    text-decoration: none;
    font-family: monospace;
}
.header {
  z-index: 10;
  padding: 2vh;
  text-align: center;
  background: #C0EEF2;
  overflow: hidden;
  white-space: nowrap;
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100vw;
}
.header img{
  bottom: -1vh;
  height: 10vh;
}
.header button {
  transition: 50ms;
  border-style: solid;
  text-align: center;
  font-size: 5vh;
  border-color: #537FE7;
  border-width: 0.5vw;
  text-align: center;
  background: #E9F8F9;
  color: #537FE7;
  height: 10vh;
  width: 15vw;
}
.header input {
  transition: 50ms;
  border-style: solid;
  text-align: center;
  font-size: 5vh;
  border-color: #537FE7;
  border-width: 0.5vw;
  text-align: center;
  background: #E9F8F9;
  color: #537FE7;
  height: 10vh;
  width: 15vw;
}
.header select{
  transition: 50ms;
  border-style: solid;
  text-align: center;
  font-size: 5vh;
  border-color: #537FE7;
  border-width: 0.5vw;
  text-align: center;
  background: #E9F8F9;
  color: #537FE7;
  height: 10vh;
  width: 15vw;
}
.header meter{
  border-style: solid;
  text-align: center;
  font-size: 5vh;
  border-color: #537FE7;
  text-align: center;
  color: #537FE7;
  height: 10vh;
  width: 15vw;
}
.header button:hover{
  transition: 300ms;
  border-style: solid;
  text-align: center;
  font-size: 5.5vh;
  border-color: #537FE7;
  border-width: 0.5vw;
  text-align: center;
  background: #E9F8F9;
  color: #537FE7;
  height: 10.5vh;
  width: 15.5vw;
}
.header button:active{
  border-style: solid;
  text-align: center;
  font-size: 5vh;
  border-color: #537FE7;
  border-width: 0.5vw;
  text-align: center;
  background: #E9F8F9;
  color: #537FE7;
  height: 10vh;
  width: 15vw;
}
.header a img{
  transition: 0.5s;
  position: absolute;
  top: -25px;
  left: -25px;
  height: 100px;
  width: 100px;
  
}
.header a img:hover{
  position: absolute;
  top: -35px;
  left: -35px;
  height: 120px;
  width: 120px;
}

#nonbutton {
  border-style: groove;
  text-align: center;
  font-size: 5vh;
  border-color: #537FE7;
  border-width: 0.5vw;
  text-align: center;
  background: #E9F8F9;
  color: #537FE7;
  height: 10vh;
  width: 15vw;
}
.sidenav {
    height: 100vw;
    width: 100vh;
    position: fixed;
    z-index: 1;
    top: 0vh;
    left: 0vw;
    background-color: #181823;
    overflow-x: hidden;
  }
  .lefthalf {
    border-right: 1vw solid #C0EEF2;
    overflow: hidden;
    height: 83vh;
    width: 50%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
  }
  .lefthalf textarea{
    color: #181823;
    border: none;
    overflow: auto;
    outline: none;
    text-align: right;
    width: 97.9%;
    height: 100%;
    font-family: monospace;
    background-color: #11111100;
    font-size: 40px;
  }
  .lefthalf p {
    color: #181823;
    text-decoration: none;
    font-size: 25px;
    line-height: 2px;
    text-align: center;
    font-family: monospace;
  }
  .righthalf {
    border-left: 1vw solid #C0EEF2;
    overflow: hidden;
    height: 83vh;
    width: 50%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #11111100;
    overflow-x: hidden;
  }
  .righthalf textarea{
    color: #181823;
    border: none;
    overflow: auto;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: #11111100;
    font-size: 40px;
  }
  .righthalf p {
    color: #181823;
    text-decoration: none;
    font-size: 25px;
    
    line-height: 2px;
    text-align: center;
    font-family: monospace;
  }






  .sidenav img{
    width: 30vh;
  }
  .sidenav p {
    text-decoration: none;
    font-size: 25px;
    
    color: #E9F8F9;
    line-height: 2px;
    text-align: center;
    font-family: monospace;
  }
  .sidenav a img{
    transition: 0.5s;
    position: absolute;
    top: -25px;
    left: -25px;
    height: 100px;
    width: 100px;
    
  }
  .sidenav a img:hover{
    position: absolute;
    top: -35px;
    left: -35px;
    height: 120px;
    width: 120px;
  }
  .sidenav input{
    border-width: 0;
    background-color: #537FE7;
    font-size: 2vw;
    font-family: monospace;
    text-decoration: none;
    color: #E9F8F9;
  }
  .sidenav select{
    font-family: monospace;
    line-height: 2px;
    text-decoration: none;
    font-size: 2vw;
    color: #E9F8F9;
    width: 100%
    
  }
  .sidenav meter{
    line-height: 2px;
    text-decoration: none;
    font-size: 30px;
    color: #E9F8F9;
    border:5px solid #192F01;
    border-right: 25px;
    width: 98%;
    height: 50px;
  }
  .LeftContent {
    height: 100%;
    width: 600px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 310px;
    background-color: #F8EFEA;
    overflow-x: hidden;
    border:10px solid #192F01;
  }
  .LeftContent textarea{
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: #F8EFEA;
    font-size: 40px;

  }
  .LeftContent p{
    font-family: monospace;
    text-align: center;
    font-size: large;
    top: -10px;
  }
  .RightContent {
    height: 100%;
    width: 600px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 910px;
    background-color: #F8EFEA;
    overflow-x: hidden;
    border:10px solid #192F01;
  }
  .RightContent textarea{
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: #F8EFEA;
    font-size: 40px;

  }
  .icotext{
    text-align: center;
    font-size: 5vw;
  }
  .icon{
    align-items: center;
    width: 5vw;
    padding: 1vw;
  }
  .RightContent p{
    font-family: monospace;
    text-align: center;
    font-size: large;
    top: -10px;
  }
  .AddSpot {
    height: 100%;
    width: 390px;
    float: right;
    background-image: url(https://4.bp.blogspot.com/-beNwqJ7ab2A/Uno_3xseD1I/AAAAAAAAAKA/7mu-J6B118s/s1600/Infinitive+Advertising+Photos.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: 0;
    z-index: 1;
    top: 0;
    background-color: #F8EFEA;
    overflow-x: hidden;
    border:10px solid #192F01;
  }
  .FullPlan {
    height: 100%;
    width: 390px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1510px;
    background-color: #F8EFEA;
    overflow-x: hidden;
    padding-top: 20px;
    border:10px solid #192F01;
  }
  .FullPlan p{
    font-family: monospace;
    text-align: center;
    font-size: large;
    top: -10px;
  }
  meter::-webkit-meter-optimum-value {
    background-image: linear-gradient(
      45deg, 
      #ff0000 5%, 
      #ff4800 5%,
      #ff8800 15%,
      #ffbb00 15%,
      #ffee00 55%,
      #e5ff00 55%,
      #2bff00 95%,
      #33ff00 100%
    );
    height: 100px;
    background-size: 100% 100%;
    
  }